<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>576452479107-t4i3tjh367crp2ruddj41c6b79s2jb1j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.576452479107-t4i3tjh367crp2ruddj41c6b79s2jb1j</string>
	<key>API_KEY</key>
	<string>AIzaSyCa6a4sgPxSRFZ8Ny7tvLftERslWd4ThcI</string>
	<key>GCM_SENDER_ID</key>
	<string>576452479107</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.forbiddenLands</string>
	<key>PROJECT_ID</key>
	<string>forbidden-lands-9083c</string>
	<key>STORAGE_BUCKET</key>
	<string>forbidden-lands-9083c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:576452479107:ios:a8a736fac89e67d723f3b6</string>
</dict>
</plist>